:root {
    --primary-color:
        /*Mantis*/
        #7AC74F;
    --secondary-color:
        /*Indigo Dye*/
        #124E78;
    --accent1-color:
        /*Amber*/
        #F2BB05;
    --accent2-color:
        /*Thistle*/
        #BFACC8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", serif;
}

img {
    width: 100%;
    height: auto;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
}

header, footer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 30px;
    background-color: var(--primary-color); 
}

header nav {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

header nav a {
    display: block;
    flex: 1 1 auto;
    text-align: center;
    width: 80px;
    margin: 25px;
    padding: 10px 20px;  
    border: 2px solid var(--secondary-color); 
    border-radius: 5px; 
    text-decoration: none; 
    color: var(--secondary-color); 
    background-color: var(--accent1-color); 
    transition: background-color 0.3s, color 0.3s; 
}

header nav a:hover {
    background-color: var(--secondary-color); 
    color: var(--accent1-color); 
}

header img {
    grid-column: 1 / 2;
    width: 150px;
    height: auto;
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto", serif;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    color: white;
    background-color: black;
    opacity: .7;
    padding: 1rem;
    text-align: center;
}

div.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

article {
    position: absolute;
    bottom: 90px;
    left: 90px;
    width: 80%;    
    background-color: white;
    padding: 1rem;
    border: 1px solid black;
}

.hero article img {
    width: 100px;
    height: auto;
    float: right;
}

#history {
    display: grid;
    grid-template-columns: 1fr 350px 1fr;
    grid-gap: 50px;
}

#history h2 {
    grid-column: 1 / 4;
    text-align: center;
}

#adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
}

#adventure h2 {
    grid-column: 1 / 6;
    text-align: center;
}

footer {
    text-decoration: none;
    margin: 50px auto;
}

.sociallinks {
    display: flex;
    gap: 20px;
}

.sociallinks img {
    width: 50px;
    height: auto;
}