:root {
    /*Put some variables in here when you think they are needed*/
    --center-text: center;
    --image-height: auto;
}
main {
    max-width: 840px;
}
main img {
    width: 150px;
    height: var(--image-height);
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
    padding:0%;
    background-color: #ffffff;
    color: #413d3d;
    text-align: var(--center-text);
}
aside img {
    width: 200px;
    height: var(--image-height);
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1 {
color: darkblue;
}
img {
    width: 150px;
    height: var(--image-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--center-text);
}